<!-- begin board -->
<div class="board">
	<!-- begin inner -->
	<div class="inner">
		<div class="board__img" data-show-onscroll="30" data-show-img="parent">
			<div class="board__img-in" data-show-img="children" style="background-image: url(img/board.jpg);"></div>
		</div>
		<div class="board__content" data-show-onscroll="50">
			<div class="board__info" data-hidden-anim-parent>
				<h3 class="title-sm board__title" data-hidden-anim="from-top">WE love <br>green products</h3>
				<hr class="line line_black line_h1" data-hidden-anim="from-left" >
				<div class="board__description" data-hidden-anim="from-bottom">
					<p>We offer a variety of organic and eco-friendly products.</p>
					<p>We care for our planet and your health.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end inner -->
</div>
<!-- end board -->