<!-- begin board -->
<div class="board">
	<!-- begin inner -->
	<div class="inner">
		<div class="board__img" data-show-onscroll="30" data-show-img="parent">
			<div class="board__img-in" data-show-img="children" style="background-image: url(https://placecage.com/1311/876);"></div>
		</div>
		<div class="board__content">
			<div class="board__line"></div>
			<div class="board__info" data-paroller-factor="0.15" data-paroller-type="foreground">
				<h3 class="title-sm board__title">WE love <br>green products</h3>
				<div class="board__description">
					<p>We offer a variety of organic and eco-friendly products.</p>
					<p>We care for our planet and your health.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end inner -->
</div>
<!-- end board -->