<!-- begin board -->
<div class="board">
	<!-- begin inner -->
	<div class="inner">
		<div class="board__img img">
			<div data-show-img="parent" data-show-onscroll="50">
				<div data-show-img="children">
					<div class="img__inner img__inner_mh720">
						<div data-paroller-factor="0.05" data-paroller-type="foreground">
							<img src="./img/board.jpg" alt="img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end inner -->
	<div class="board__wrap">
		<div class="board__inner inner">
			<div class="board__content" data-show-onscroll="50">
				<div class="board__info" data-hidden-anim-parent>
					<h3 class="title-sm board__title" data-hidden-anim="from-top">WE love <br>green products</h3>
					<hr class="line line_black line_h1" data-hidden-anim="from-left" >
					<div class="board__description" data-hidden-anim="from-bottom">
						<p>We offer a variety of organic and eco-friendly products.</p>
						<p>We care for our planet and your health.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end board -->