<!-- begin contact -->
<div class="contact">
	<!-- begin inner -->
	<div class="inner">
		<div class="contact__container">
			<div class="contact__info">
				<div class="contact__info-in">
					<div data-hidden-anim-parent data-show-onscroll>
						<h2 class="contact__title" data-hidden-anim="from-top">Ready to Join Us?</h2>
					</div>
					{# <div data-hidden-anim-parent data-show-onscroll>
						<p data-hidden-anim="from-top">We are happy you’ve found us and we want you to stay. Why not start saving right now?</p>
					</div> #}
				</div>
			</div>
			{% set form = [
				{ placeholder: 'Your Email' },
				{ placeholder: 'Your Name' },
				{ placeholder: 'Your Password' }
			] %}
			<div class="contact__form">
				<form action="/">
					{% for item in form %}
						<div class="contact__field">
							<input type="text" class="input input_white" placeholder="{{item.placeholder}}">
						</div>
					{% endfor %}
					<div class="contact__buttons clear">
						<button class="contact__btn pull-left">Join</button>
						<button class="contact__btn pull-right">CONTINUE WITH FACEBOOK</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end inner -->
</div>
<!-- end contact -->