<!-- begin departments -->
<div class="departments">
	<!-- begin inner -->
	<div class="inner">
		{% set departments = [
			{
				title: 'BATH & BODY',
				meta: 'Soaps, shaving, shower and more'
			},
			{
				title: 'GROCERY',
				meta: 'Snacks, pasta, bars, fruit and more'
			},
			{
				title: 'CLEANING',
				meta: 'Laundry, dish soaps and more'
			},
			{
				title: 'SEE ALL DEPARTMENTS',
				meta: 'Beverages, pet food and more'
			}
		] %}
		<div class="row">
			{% for item in departments %}
				<div class="col col_lg-50 col_sm-100">
					<div class="box departments__box">
						<div class="box__image">
							<div class="box__image-in" style="background-image: url(https://placecage.com/600/600);"></div>
						</div>
						<div class="box__content">
							<div class="box__title">{{item.title}}</div>
							<div class="box__meta">{{item.meta}}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- end inner -->
</div>	
<!-- end departments -->