<!-- begin departments -->
<div class="departments">
	<!-- begin inner -->
	<div class="inner">
		{% set departments = [
			{
				id: '1',
				title: 'BATH & BODY',
				meta: 'Soaps, shaving, shower and more'
			},
			{
				id: '2',
				title: 'GROCERY',
				meta: 'Snacks, pasta, bars, fruit and more'
			},
			{
				id: '3',
				title: 'CLEANING',
				meta: 'Laundry, dish soaps and more'
			},
			{
				id: '4',
				title: 'SEE ALL DEPARTMENTS',
				meta: 'Beverages, pet food and more'
			}
		] %}
		<div class="row">
			{% for item in departments %}
				<div class="col col_lg-50 col_sm-100">
					<a href="#" class="box departments__box" data-show-onscroll="10">
						<div class="box__image">
							<div class="box__image-in">
								<div class="box__image-frame" data-vertical="center" {# data-paroller-factor="0.1" data-paroller-type="foreground" #}>
									<div class="box__image-picture" style="background-image: url(img/departments-{{item.id or '1'}}.jpg);"></div>
								</div>
							</div>
						</div>
						<div class="box__content">
							<div class="box__title">{{item.title}}</div>
							<div class="box__meta">{{item.meta}}</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- end inner -->
</div>	
<!-- end departments -->