<!-- features -->
<div class="features">
	<div class="features__inner inner js-navigation-wrap">
		<div class="features__sidebar js-navigation-sidebar">
			<div class="features__switcher js-navigation-switcher">
				<div class="features__navigation-bar navigation-bar">
					<div class="navigation-bar__in js-navigation-bar"></div>
				</div>
				<!-- navigation -->
				<div class="features__navigation navigation js-navigation">
					<ul class="navigation__list">
						<li class="navigation__item"><a class="navigation__link is-active js-navigation-link" href="#SAVINGS">SAVINGS</a></li>
						<li class="navigation__item"><a class="navigation__link js-navigation-link" href="#EFFICIENCY">EFFICIENCY</a></li>
						<li class="navigation__item"><a class="navigation__link js-navigation-link" href="#CONVENIENCE">CONVENIENCE</a></li>
					</ul>
				</div>
				<!-- ¯\_(ツ)_/¯ -->
			</div>
		</div>
		<div class="features__content">
			{% set featuresData = [
				{
					title: "Save Up to 75% <br>on Everyday Purchases",
					text: "Can you imagine how much you can save a month? A Year? Why pay more if you can pay less?",
					img: "1",
					id: 'SAVINGS'
				},
				{
					title: "Free Yourself From Trips to Stores",
					text: "Save an hour or two out of your precious weekend by doing shopping online",
					img: "2",
					id: 'EFFICIENCY'
				},
				{
					title: "Get Free <br>and Fast Shipping",
					text: "We have our own shipping service and usually deliver within 24 hour right to your door",
					img: "3",
					id: 'CONVENIENCE'
				}
			] %}
			{% for data in featuresData %}
				<div class="features__item js-navigation-item" id="{{data.id}}" data-show-onscroll="30">
					<div class="features__title title-sm" data-hidden-anim-parent>
						<span data-hidden-anim="from-left">{{ data.title | safe}}</span>
					</div>
					<div class="features__text" data-hidden-anim-parent>
						<span data-hidden-anim="from-bottom">{{ data.text }}</span>
					</div>
					<div class="features__img" data-show-onscroll data-show-img="parent" >
						<div data-show-img="children">
							<img src="./img/features-img-{{ data.img }}.jpg" alt="img">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->
