<!-- begin footer -->
<footer class="footer">
	<!-- begin inner -->
	<div class="inner">
		<div class="footer__col">
			<nav class="footer__nav">
				<ul class="footer__list">
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
				</ul>
				<ul class="footer__list">
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
					<li><a href="#" class="footer__link"></a></li>
				</ul>
			</nav>
			<ul class="footer__list">
				<li><a href="#" class="footer__link"></a></li>
				<li><a href="#" class="footer__link"></a></li>
			</ul>
			<div class="footer__logo">
				<a href="#">
					<img src="img/logo.svg" alt="plenties">
				</a>
			</div>
		</div>
		<div class="footer__col">
			<div class="footer__description">
				<p>Do you follow us on <br>Social Media?</p>
				<p>If not, we highly reccomend it, because you woudn’t want to miss our best deals.</p>
			</div>
			<ul class="footer__social">
				{% for item in seq %}
				    
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- end inner -->
</footer>
<!-- end footer -->