<!-- hero -->
<div class="hero">
	<div class="hero__inner inner">
		<div class="hero__wrap">
			<div class="hero__left">
				<h1 class="hero__title title-lg">Your Favorite Products <br>at Tiny Prices</h1>
			</div>
			<div class="hero__right">
				<div class="proggres-slider js-proggres-slider">
					{% set proggresSlider = [
						{
							numb: "375.00",
							retail: "DKK VS 880.50 RETAIL",
							save: "YOU SAVE 57%"
						},
						{
							numb: "460.50",
							retail: "DKK VS 920.00 RETAIL",
							save: "YOU SAVE 50%"
						},
						{
							numb: "125.00",
							retail: "DKK VS 340.50 RETAIL",
							save: "YOU SAVE 63%"
						}
					] %}
					<div class="proggres-slider__wrap">
						{% for data in proggresSlider %}
							<div class="proggres-slider__slide js-proggres-slide">
								<a href="#" class="sm-banner">
									<div class="sm-banner__number">{{data.numb}}</div>
									<div class="sm-banner__wrap">
										<div class="sm-banner__retail">{{ data.retail }}</div>
										<div class="sm-banner__save">{{ data.save }}</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
					<div class="proggres-slider__bar">
						<div class="proggres-slider__bar-in"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero__btn-shade">
			<a href="#" class="btn-shade">
				<span class="btn-shade__bg"></span>
				<span class="btn-shade__text">CONTINUE TO SHOP</span>
			</a>
		</div>
		<button class="hero__btn btn-arrow">
			<svg data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" width="7" height="17" viewBox="0 0 7 17">
			    <title>
			        arrow-bottom
			    </title>
			    <path d="M.06 13l3.27 3.9a.21.21 0 0 0 .18.06.21.21 0 0 0 .18-.06L7 13a.43.43 0 0 0 0-.38.16.16 0 0 0-.29 0l-2.97 3.5V.25A.26.26 0 0 0 3.51 0a.26.26 0 0 0-.23.25v15.87L.35 12.66a.21.21 0 0 0-.18-.06.21.21 0 0 0-.18.06.85.85 0 0 0 .07.34z"/>
			</svg>
			<svg data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" width="7" height="17" viewBox="0 0 7 17">
			    <title>
			        arrow-bottom
			    </title>
			    <path d="M.06 13l3.27 3.9a.21.21 0 0 0 .18.06.21.21 0 0 0 .18-.06L7 13a.43.43 0 0 0 0-.38.16.16 0 0 0-.29 0l-2.97 3.5V.25A.26.26 0 0 0 3.51 0a.26.26 0 0 0-.23.25v15.87L.35 12.66a.21.21 0 0 0-.18-.06.21.21 0 0 0-.18.06.85.85 0 0 0 .07.34z"/>
			</svg>
		</button>
		<div class="hero__img img">
			<div class="img__inner">
				<img src="./img/hero-img.jpg" alt="img">
			</div>
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->