<!-- hero -->
<div class="hero">
	<div class="hero__inner inner">
		<div class="hero__left">
			<h1 class="hero__title title-lg">Your Favorite Products at Tiny Prices</h1>
			<div class="hero__info info">CONTINUE TO SHOP</div>
			<button class="btn-arrow">
				{{ mixins.icon('arrow') }}
			</button>
		</div>
		<div class="hero__right">
			<div class="proggres-slider js-proggres-slider">
				{% set proggresSlider = [
					{
						numb: "375.00",
						retail: "DKK VS 880.50 RETAIL",
						save: "YOU SAVE 57%"
					},
					{
						numb: "460.50",
						retail: "DKK VS 920.00 RETAIL",
						save: "YOU SAVE 50%"
					},
					{
						numb: "125.00",
						retail: "DKK VS 340.50 RETAIL",
						save: "YOU SAVE 63%"
					}
				] %}
				{% for data in proggresSlider %}
					<div class="proggres-slider__slide">
						<div class="sm-banner">
							<div class="sm-banner__number">{{data.numb}}</div>
							<div class="sm-banner__wrap">
								<div class="sm-banner__retail">{{ data.retail }}</div>
								<div class="sm-banner__save">{{ data.save }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="hero__img">
			<img src="https://placecage.com/1310/720" alt="img">
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->