<!-- information -->
<div class="information" id="information">
	<div class="information__inner inner">
		<div class="information__row row" data-show-onscroll="50">
			{% set texts = [
				{
					title: "Bigger Quantities",
					text: "We offer a selection of the most useful and high-quality everyday products in bulk for prices that are much cheaper than buying in small quantities in regular stores."
				},
				{
					title: "Bigger SAVINGS",
					text: "On Plenties you can purchase products you love in bulk with no membership fee and free shipping. "
				},
				{
					title: "BETTER Options",
					text: "You won’t have to spend time deciding which shampoo among 50 different brands is better, we handpick every item ourselves and always make sure it’s the best that our customers can get."
				}
			] %}
			{% for text in texts %}
				<div class="information__col col col_lg-33 col_md-100">
					<div class="information__item">
						<div data-hidden-anim-parent>
							<h3 class="information__title title-sm" data-hidden-anim="from-top">{{ text.title }}</h3>
							<hr class="line" data-hidden-anim="from-left"></hr>
							<p data-hidden-anim="from-bottom">{{ text.text }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->