body
	background: $white
	+f('rl', 14)
	line-height: (28/14)
	letter-spacing: 0.03em 
	+font-smoothing

.pull-left
	float: left
.pull-right
	float: right

.clear
	+clr

.title-lg
	+f('rt',80,88)
	+md
		+f('rt',60,68)
	+sm
		+f('rt',40,48)

.title-sm
	+f(oeb,16,24,40)
	text-transform: uppercase
	&_yellow-border
		padding-bottom: 13px
		border-bottom: 2px solid $yellow
		
.sm-show
	display: none
	+sm
		display: block

.line
	padding: 0
	margin: 13px 0 9px
	height: 0
	border: none
	border-bottom: 2px solid $yellow
	&_black
		border-bottom-color: $black 
	&_h1
		border-bottom-width: 1px 

.xs-hide
	+xs
		display: none