.inner
	position: relative
	z-index: 10
	padding: 0 105px
	margin: 0 auto
	max-width: 1366px
	+clr
	+md
		padding: 0 50px
	+sm
		padding: 0 30px

.pull-left
	float: left
.pull-right
	float: right

.clear
	+clr

.title-lg
	+f('rt',80,88)
	+md
		+f('rt',60,68)
	+sm
		+f('rt',40,48)

.title-sm
	+f(oeb,16,24,40)
	text-transform: uppercase
	&_yellow-border
		padding-bottom: 13px
		border-bottom: 2px solid $yellow