<!-- header -->
<header class="header">
	<div class="header__inner inner">
		<!-- btn-menu -->
		<button class="header__btn-menu btn-menu js-btn-menu" type="button">
			<span class="btn-menu__line btn-menu__line_top"></span>
			<span class="btn-menu__line btn-menu__line_middle"></span>
			<span class="btn-menu__line btn-menu__line_button"></span>
		</button>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- logo -->
		<a href="#" class="header__logo logo">
			<img src="./img/logo.svg" alt="logo">
		</a>
		<!-- ¯\_(ツ)_/¯ -->
		{% set menuData = [
			{
				title: "Navigate",
				texts: ["SHOP", "ABOUT", "HELP", "SIGN IN"]
			},
			{
				title: "Language",
				texts: ["DANSK", "ENGLISH"]
			},
			{
				style: "followUs",
				title: "Follow  Us",
				texts: ["instagram", "facebook", "snapchat"]
			}
		] %}
		<ul class="header__list">
			<li><a href="#">SIGN IN</a></li>
			<li><a href="#">FAVORITES</a></li>
			<li><a href="#">CART (0)</a></li>
		</ul>
	</div>
	<!-- menu -->
	<div class="header__menu menu js-header-menu">
		<div class="menu__inner inner">
			<div class="menu__logo">
				<img src="./img/logo.svg" alt="logo">
			</div>
			<div class="menu__wrap">
				{% for data in menuData %}
					<div class="menu__col">
						<div class="menu__title">{{ data.title }}</div>
						<ul class="menu__list menu__list_{% if data.style %}{{ data.style }}{% endif %}">
							{% for text in data.texts %}
								<li><a href="#">{{ text }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- ¯\_(ツ)_/¯ -->
</header>
<!-- ¯\_(ツ)_/¯ -->