.board
	padding: 190px 0 152px
	&__img
		margin: 0 -50px 0 -106px
		&-in
			padding-bottom: 66.82%
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
	&__content
		position: relative
		float: right
		padding: 380px 0 0 36px
		width: 50%
		+md
			padding-top: 100px
			width: 100%
	&__line
		position: absolute
		top: -80px
		left: 0
		bottom: 8px
		border-left: 1px solid rgba($black, 0.19)
	&__title
		margin-bottom: 18px