.box
	&__image
		margin-bottom: 42px
		&-in
			padding-bottom: 106%
			height: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
	&__content
		text-align: center
	&__title
		margin-bottom: 3px
		+f(oeb, 12, 20)
	&__meta
		color: $lightGrayText
		+f(rt, 12, 20)
		letter-spacing: 0