.box
	display: block
	color: $black
	transform: translate3d(0,50px,0)
	transition: transform 1s, opacity 1.1s ease 167ms
	&.is-active
		+gpu
		.box__image-in
			transform: scale(1)
	+hover
		.box
			&__image
				&-in
					transform: scale(0.97)
				&-frame
					transform: scale(1.1)
	&__image
		overflow: hidden
		margin-bottom: 42px
		&-in
			position: relative
			overflow: hidden
			padding-bottom: 106%
			height: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			transform: scale(1.5)
			transition: transform 1s 
		&-frame
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			+vertical
			transition: transform 1s 
	&__content
		text-align: center
	&__title
		margin-bottom: 3px
		+f(oeb, 12, 20)
	&__meta
		color: $lightGrayText
		+f(rt, 12, 20)
		letter-spacing: 0
