.btn-menu
	position: relative
	width: 33px
	height: 18px
	display: inline-block
	background-color: transparent 
	&:before
		position: absolute
		content: ""
		top: -15px 
		left: -15px
		right: -15px
		bottom: -15px
	&__line
		position: absolute
		left: 0
		width: 33px
		height: 2px
		background-color: $black 
		display: block
		&_top
			top: 0
		&_middle
			top: 8px
		&_button
			bottom: 0