.contact
	padding: 260px 0 187px
	color: $white
	background: $sectionBg
	+md
		padding: 80px 0
	&__container
		margin: 0 auto
		max-width: 990px
		+clr
	&__info,
	&__form
		float: left
		padding: 0 15px
		+md
			float: none
			padding: 0
			margin: 0 auto
			width: 100%
			max-width: 480px
	&__info
		width: 49.5%
		&-in
			max-width: 400px
		p
			+f(rt, 16, 28)
			letter-spacing: 0.048em
	&__form
		width: 50.5%
	&__title
		margin-bottom: 15px
		opacity: 0.35
		+f(oeb, 80, 90)
		transition: opacity 0.4s ease-in-out
		+sm
			max-width: 300px
			font-size: 48px
		&.is-active
			opacity: 0.65
	&__field
		padding: 21px 0
	&__buttons
		padding-top: 15px
	&__btn
		color: $white
		opacity: 0.5
		background: none
		+f(oeb, 12, 20)
		text-transform: uppercase
		transition: opacity 0.175s ease-in-out
		+hover
			opacity: 1