.header
	padding-bottom: 29px
	&__btn-menu
		float: left
		margin-top: 29px
		z-index: 12
	&__inner
		z-index: initial
	&__logo
		margin: 27px 0 0 25px
		float: left
	&__menu
		float: left
		z-index: 11
	&__list
		float: right
		margin-top: 26px
		+f('oeb', 12)
		text-transform: uppercase
		+md
			margin-top: 28px 
		li
			vertical-align: top
			display: inline-block
			&:not(:last-child)
				margin-right: 14px
		a
			position: relative
			color: $black 
			letter-spacing: initial 
			transition: color .3s ease-in-out
			display: block
			+md
				font-size: 0
			&:after
				content: ""
				display: block
				position: absolute
				top: 100%
				left: 0
				right: 0
				height: 2px
				background-color: $black
				transform: scaleX(0)
				transition: transform .25s ease-in
				transform-origin: right center
			+hover
				&:after
					transform: scale(1)
					transform-origin: left center
				+md
					color: rgba($black, 0.6) 
					&:after
						transform: scale(0)
		.icon
			font-size: 20px
			vertical-align: middle 
			display: none
			+md
				display: block
			+sm
				display: none
		.icon-user
			font-size: 19px
		.icon-cart
			+sm
				display: block

.logo
	img
		display: block

.menu
	position: absolute
	top: 0
	left: 0
	right: 0
	transform: translateY(-100%)
	background-color: $white
	+sm
		height: 100vh
		overflow-y: auto
	.menu__inner
		position: relative
		padding-top: 26px 
		padding-bottom: 168px
		+sm
			padding-top: 40%
			padding-bottom: 40px
	&__logo
		position: absolute
		left: 108px
		bottom: 50px
		+sm
			display: none
	&__wrap
		padding-left: 23.8%
		+clr
		+sm
			padding-left: 38px 
	&__col
		float: left
		width: 33% 
		padding-left: 20px
		&:not(:first-child)
			+sm
				margin-top: 30px
		+sm
			float: none
			width: auto
		&_follow
			+sm
				display: none
	&__title
		margin-bottom: 87px
		+f('rt', 12)
		color: $lightGrayText 
		+sm
			display: none
	&__list
		color: $black 
		text-transform: uppercase
		+f('ob', 18)
		+sm
			+f('ol')
		&_followUs
			color: $lightGrayText 
			+f('ol')
			text-transform: initial
	li
		&:not(:last-child)
			margin-bottom: 12px
			+sm
				margin-bottom: 8px
	a
		color: inherit 