.hero
	padding: 166px 0 98px
	background-color: $heroBg 
	&__inner
	&__wrap
		display: table
		table-layout: fixed
		width: 100%
	&__left,
	&__right
		display: table-cell
	&__left
		padding: 0 16px 16px 0
		width: 53.6%
		+lg
			padding-right: 0
	&__right
		width: 46.4%
		vertical-align: bottom
		+lg
			display: none
	&__title
		max-width: 495px
		+lg
			max-width: 795px
			br
				display: none
	&__btn-shade
		margin: 6px 0 0 -10px
	&__btn
		margin-top: 4px
	&__img
		margin: 67px 0 -192px -50px
		max-width: 1310px
		width: 100vw
		+lg
			margin: 67px -105px -98px
			width: auto
.img
	+hover
		.img__inner
			transform: scale(.95)
			img
				transform: scale(1.15)
	&__inner
		overflow: hidden
		transition: transform .5s ease-in-out
	img
		max-width: 100%
		display: block
		transition: transform .5s ease-in-out

.proggres-slider
	position: relative
	display: inline-block
	&.is-active
		.proggres-slider__bar-in
			animation: proggresOut 0.5s ease-in-out forwards
			transform-origin: 0 0
	&.is-init
		&:before
			position: absolute
			content: ""
			top: 0
			left: 0
			right: 0
			bottom: 25px
			z-index: -1
			transition: transform 0.4s ease-in-out
			background-color: $yellow  
		+hover
			&:before
				transform: scale(1.1)
		[data-show-img="parent"]
			overflow: visible
	&__slide
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		&.is-active
			.sm-banner
				animation: proggresTextIn 0.5s ease-in-out forwards
				transform-origin: 0 0
	.sm-banner
		animation: proggresTextOut 0.5s ease-in-out forwards
		transform-origin: 0 0
	&__wrap
		position: relative
		width: 506px
		height: 160px
		overflow: hidden
	&__bar
		position: relative
		margin-top: 24px
		height: 1px
		overflow: hidden
		background-color: rgba($black, 0.12) 
	&__bar-in
		position: absolute
		top: 0
		left: 0
		height: 1px
		width: 100%
		animation: proggresIn 3.5s ease-in-out forwards
		transform-origin: 100% 0
		background-color: $black 

@keyframes proggresIn
	0%
		transform: translateX(-100%)
	100%
		transform: translateX(0)

@keyframes proggresOut
	0%
		transform: translateX(0)
	100%
		transform: translateX(100%)

@keyframes proggresTextIn
	0%
		transform: translateX(-100%)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1

@keyframes proggresTextOut
	0%
		transform: translateX(0)
		opacity: 1
	90%
		transform: translateX(100%)
		opacity: 0
	100%
		transform: translateX(-100%)
		opacity: 0
	
.sm-banner
	position: relative
	padding: 51px 37px 49px 33px
	line-height: 1
	vertical-align: top
	color: $black 
	z-index: 1
	overflow: hidden
	display: block
	background-color: $yellow  
	+clr
	.proggres-slider &
		opacity: 0
		transform: translateX(-100%)
	&__number
		float: left
		+f('rt', 60)
		letter-spacing: -0.003em
	&__wrap
		float: left
		margin-top: 4px
		padding-left: 5px
		line-height: 1.1
		+f('ob', 24)
		letter-spacing: 0.002em