.hero
	padding: 87px 0
	&__inner
	&__wrap
		display: table
		table-layout: fixed
		width: 100%
	&__left,
	&__right
		display: table-cell
	&__left
		padding: 0 16px 16px 0
		width: 53.6%
	&__right
		width: 46.4%
		vertical-align: bottom
		+lg
			display: none
	&__title
		max-width: 495px
		+lg
			max-width: 795px
			br
				display: none
	&__info
		margin-top: 6px
	&__btn
		margin-top: 8px
	&__img
		margin: 67px 0 -192px -50px
.info
	+f('oeb', 12)
	text-transform: uppercase
.proggres-slider
	display: inline-block
	&__slide
		&:not(:first-child)
			display: none
	&__bar
		position: relative
		margin-top: 24px
		height: 1px
		overflow: hidden
		background-color: rgba($black, 0.12) 
	&__bar-in
		position: absolute
		top: 0
		left: -65%
		height: 1px
		width: 100%
		background-color: $black 
.sm-banner
	position: relative
	padding: 51px 37px 49px 33px
	line-height: 1
	vertical-align: top
	z-index: 1
	+clr
	&:before
		position: absolute
		content: ""
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		transition: transform 0.4s cubic-bezier(.8,0,.2,1)
		background-color: $yellow  
	+hover
		&:before
			transform: scale(1.1)
	&__number
		float: left
		+f('rt', 60)
	&__wrap
		float: left
		margin-top: 4px
		padding-left: 5px
		line-height: 1.1
		+f('ob', 24)