.information
	padding: 289px 0 223px
	color: $white 
	background-color: $informationBg
	&__item
		padding: 30px 11px 30px 10px
		margin: 0 auto
		max-width: 290px
	&__title
		margin-bottom: 9px
		letter-spacing: -0.01em 