.results
	&__container
		padding: 360px 0 240px
		margin: 0 auto
		max-width: 765px
		+clr
		+md 
			padding: 220px 0
		+sm
			padding: 120px 0
	&__title
		padding: 54px 0 6px
		color: $black
		background: $white
		+f(rb, 16, 60)
		letter-spacing: 0
		text-align: center
		text-transform: uppercase
		+md
			padding-top: 13px
	&__info
		+clr
		+md
			margin: 0 auto
	&__box
		padding: 25px 0
		max-width: 275px
		width: 100%
		+sm
			float: none
			margin: 0 auto
		&_left
			float: left
		&_right
			float: right
	&__subtitle
		+f(ob, 16, 60)
		text-transform: uppercase
	&__content
		+f(rt, 14, 28, 40)
	&__line
		margin: 0 0 9px
		border: none
		border-bottom: 1px solid $black
	&__images
		position: relative
		margin-bottom: 130px
		height: 600px
		+clr
		+md
			float: none
			margin: 0 auto 150px
			width: 100%
		+sm
			margin: 0 -30px 120px
			width: auto
			max-width: unset
			height: auto
	&__image
		position: absolute
		width: 52.3%
		max-width: 400px
		+sm 
			position: relative
			//new
			float: left 
			width: 55%
			margin-right: -10%
		+ .results__image
			margin-top: 30px
		&[data-item="1"]
			z-index: 10
			top: -3px
			left: 0
			+sm
				top: auto
				left: auto
		&[data-item="2"]
			z-index: 5
			right: 0
			bottom: 15px
			+sm
				right: auto
				bottom: auto
		&-in
			width: 100%
			height: 0
			padding-bottom: 100%
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			background-color: #f8f8f8

		

