.reviews
	padding-bottom: 120px
	margin-bottom: -120px
	background: #f8f8f8

.review
	&__img
		border-radius: 50%
		width: 60px
		height: 60px
	&__meta
		color: #9f9f9f
		+f(rt,12,24,40)
	&__text
		+f(rt,14,32,40)