.reviews
	padding: 307px 0 382px
	background: #f8f8f8
	+md
		padding: 100px 0 170px
	// &__row
	// 	margin: 0 -10px
	// &__col
	// 	float: left
	// 	padding: 30px 20px
	// 	width: 33.33%
	// 	+md
	// 		width: 100%
	// 		padding: 30px 10px


.review
	padding: 30px 10px
	margin: 0 auto
	max-width: 290px
	[data-show-onscroll] &
		opacity: 0
		transform: translate3d(-50px,0,0)
		transition: transform 1s ease-out 0.2s, opacity 1s ease-out 0.2s
	[data-show-onscroll].is-active &
		opacity: 1
		+gpu
	+md
		padding: 50px 0
		// max-width: 100%
		max-width: 60%
	+sm
		padding: 30px 0
		max-width: 100%
	&__img
		margin-bottom: 20px
		border-radius: 50%
		width: 60px
		height: 60px
		background-size: cover
	&__meta
		margin-top: 3px
		color: #b9b9b9
		+f(rt,12,24,40)
	&__text
		padding-top: 20px
		+f(rt,14)
		line-height: 2.29
		letter-spacing: 0.042em