.icon-arrow-bottom {
  width: 0.44em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-top {
  width: 0.49em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-snapchat {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
