.icon-arrow {
  width: 0.49em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #475993;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
.icon-snapchat {
  width: 1em;
  height: 1em;
  fill: #050505;
}
